.test {
  display: flex;
  min-height: 100vh;
}
/* .examForm{
    
} */
.examHeader{
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}
.examTimer{
    padding-top: 1rem;
}

.controlButtons{
  display: flex;
  justify-content: space-between;
}
