.banner {
  color: white;
  margin-top: 10rem;
}

.left h1 {
  display: block;
  font-weight: 700;
  position: relative;
}
.left p {
  display: block;
  font-size: 1rem;
  margin-top: 1.2rem;
  position: relative;
  color: #b8aeae;
}
.imgContainer{
    height: 100%;
    width: 100%;
}
.imgContainer img{
    max-width: 100%;
    max-height: 100%;
}

